### ASSIGNMENT - 2

###### Q1. How do you comment code in Python? What are the different types of comments?

Answer :  In Python, we use # - it's a single line comment. or simply use 3 single/double quotes at the starting and ending of the comment line. Please see the below examples

In [1]:
# My name is Arun. And i am from Bangalore.       --> # Single line comment

In [2]:
# My name is Arun. 
# And I am from Bangalore.

## this can be done by selecting entire data in the cell, and pressing Ctrl + Forward slash

In [3]:
'''Multi line comment example is below.
My name is Arun. 
And I am from Bangalore.
I have used 3 single quotes in this example'''

'Multi line comment example is below.\nMy name is Arun. \nAnd I am from Bangalore.\nI have used 3 single quotes in this example'

In [5]:
"""Multi line comment example is below.
My name is Arun. 
And I am from Bangalore.
I have used 3 Double quotes in this example"""

'Multi line comment example is below.\nMy name is Arun. \nAnd I am from Bangalore.\nI have used 3 Double quotes in this example'

##### Q2. What are variables in Python? How do you declare and assign values to variables?

Answer :  A Variable is string of characters/numbers that can hold information.
          = operator is used to assign values to the variable.
        
        There are certain rules for declaring a variable.
            1. A variable cant start with special character.
            2. A variable cant start with numbers.
            3. A variable can start with _ or alphabets as first letter of variable.
            4. A variable can have alpha numerical characters after the 1st letter.
            
            Ex :- arun = 10 
                  _arun = 20 
                  arun_09 = 122
                    arun09_09 = 102 are all valid variable examples.

In [6]:
# examples of valid variables

arun = 10
arun

10

In [7]:
_arun = 20 
_arun

20

In [8]:
arun_09 = 122
arun_09

122

In [9]:
arun09_09 = 102
arun09_09

102

In [10]:
#Examples of Invalid variables

$arun=1

SyntaxError: invalid syntax (4112747206.py, line 3)

In [11]:
99_arun  = "Arun"

SyntaxError: invalid decimal literal (831574521.py, line 1)

In [12]:
)_arun = "222"

SyntaxError: unmatched ')' (1501403333.py, line 1)

#### Q3. How do you convert one data type to another in Python?

In [13]:
# Example 1

a = "123"  # here we are storing a as an String, as we see its enclosed in a double quotes.
type(a)

str

In [14]:
a=int(a)  ## here we try to perform type casting. we converted the string variable "a" to integer using int(a)
type(a)

int

In [15]:
b=123
type(b) ## now we see that b is integer, to convert it to a string

int

In [16]:
type(str(b)) ## we changed the data type from int to str

str

In [17]:
c= True
type(c) ## the datatype is Boolean,

bool

In [18]:
type(str(c)) ## converted the data type from boolean to str

str

In [19]:
d="False"
type(d)  ## the data type is String.

str

In [20]:
type(bool(d))  ## converted the data type from str to boolean

bool

#### Q4. How do you write and execute a Python script from the command line?

1. lets say, the python file name is saved as arun.py
2. then in the console we need to type the below code to execute it.
        $ python arun.py

##### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [21]:
my_list = [1, 2, 3, 4, 5]

In [22]:
# Method 1
l1=[]
for i in my_list:
    if i==2 or i==3:
        l1.append(i)
l1

[2, 3]

In [23]:
# Method 2

my_list[1:3:]

[2, 3]

##### Q6. What is a complex number in mathematics, and how is it represented in Python?

Answer : 

Complex numbers are the numbers that are expressed in the form of a+ib. 

Where a & b are real numbers and 

i is an imaginary number.

But when it comes to python, the imaginary number part is represented by the letter 'j'

In [24]:
# sample complex numbers examples

complex_no1 = 5+7j
complex_no2= 10+12j

print("The data type of",complex_no1,"is",type(complex_no1))
print("The data type of",complex_no2,"is",type(complex_no2))

The data type of (5+7j) is <class 'complex'>
The data type of (10+12j) is <class 'complex'>

##### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [25]:
age = 25

# age is the variable name
# = --> assignment operator
# 25 --> is the value it holds.
# age --> age int data type

In [26]:
type(age)

int

##### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [27]:
price = 9.99  # variable price holds the floating point value of 9.99.
type(price)  # price variable belongs to floating point number.

float

##### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [28]:
name = 'Arun Kumar J'
# or we can enclose it in double quotes as well.
Name = "Arun Kumar J"

In [29]:
# we would print the value of the variable using print()
print("My name is :",name)
print("My Name is :",Name)

My name is : Arun Kumar J
My Name is : Arun Kumar J

##### Q10. Given the string "Hello, World!", extract the substring "World".

In [30]:
# Answer

s1="Hello, World!"
s1

'Hello, World!'

In [33]:
s1[s1.find('W'):len(s1)-1:]

'World'

In [32]:
s1[7:len(s1)-1:]

'World'

##### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [34]:
is_student = True

#is_student is a variable containing a boolean value.