Assignment 1

Q1. Create one variable containing following type of data:

In [1]:
# String

a="Arun Kumar J"
a

'Arun Kumar J'

In [2]:
type(a)

str

In [3]:
# List

In [4]:
b=[2,444,5677,34.32222,"Arun","Virat",True]
b

[2, 444, 5677, 34.32222, 'Arun', 'Virat', True]

In [5]:
type(b)

list

In [6]:
#Float

In [7]:
c=1222.222
c

1222.222

In [8]:
type(c)

float

In [9]:
# Tuple

In [10]:
d=(1,2,3,44,"arun")
d

(1, 2, 3, 44, 'arun')

In [11]:
type(d)

tuple

In [12]:
d

(1, 2, 3, 44, 'arun')

Q2. Given are some following variables containing data:

In [13]:
#(i) var1 = ‘ ‘

var1 = ' '   # Will ve stored as String

In [14]:
type(var1)

str

In [15]:
# (ii) var2 = '[ DS , ML , Python]’  --> STRING

var2 = '[ DS , ML , Python]'
type(var2)

str

In [16]:
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] ---> LIST

var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [17]:
# (iv) var4 = 1 ----> INTEGER
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:

In [18]:
# (i) /
# / is a division operator, it divides the numerator by denominator

10/3

3.3333333333333335

In [19]:
a=100
b=5
c=a/b
print(c)

20.0

In [20]:
# (ii) %
# % - Modulus operator, gives the remainder after dividing the first number by second number
# if the first number is smaller than the second number, then it will return the first number as the output.

a=100
b=5
c=7
d=1

print(a%b)  # 100%5 = remainder is 0
print(a%c)  # 100%7 = remainder is 2
print(d%a)  # 1%100 = Since first number is smaller than 2nd number, so the output will be 1
print(d%b)  # 1%5 = Since first number is smaller than 2nd number, so the output will be 1

0
2
1
1

In [21]:
## (iii) //

a=100
b=5

print(a//b)  # 100//5 = 20
print(a//c)  # 100//7 = 14.286 // But it returns the nearest whole number as output that is 14

20
14

In [22]:
# (iv) **
# Returns the Exponential value of a number
# if a=2 - NUmber, b= power value ---> 2 to the power of 5
a=2
b=5
a**b

32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [23]:
List1=[33,432,12.232,.0443,"Arun","Kumar",5j+7,True,122,False]

In [24]:
len(List1)
# Length of the list is 10

10

In [25]:
for i in List1:
    print("The data type of the element", i,"is ",type(i))

The data type of the element 33 is  <class 'int'>
The data type of the element 432 is  <class 'int'>
The data type of the element 12.232 is  <class 'float'>
The data type of the element 0.0443 is  <class 'float'>
The data type of the element Arun is  <class 'str'>
The data type of the element Kumar is  <class 'str'>
The data type of the element (7+5j) is  <class 'complex'>
The data type of the element True is  <class 'bool'>
The data type of the element 122 is  <class 'int'>
The data type of the element False is  <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [27]:
count=0
a=int(input())
b=int(input())
while a%b==0:
    count=count+1
    c=a/b
    break
if count>0:
    print("The number",a,"is perfectly divisble by the number",b)
    print("The number",a,"can be divided",int(c),"times by the number",b)
else:
    print("The number",a,"is not perfectly divisble by number",b)

 100
 50

The number 100 is perfectly divisble by the number 50
The number 100 can be divided 2 times by the number 50

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [28]:
list_25 = list(range(12,37))
for i in list_25:
    if i%3==0:
        print(i," is divisble by 3")
    else:
        print(i," is not divisible by 3")
print("For loop completed successfully")

12  is divisble by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisble by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisble by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisble by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisble by 3
25  is not divisible by 3
26  is not divisible by 3
27  is divisble by 3
28  is not divisible by 3
29  is not divisible by 3
30  is divisble by 3
31  is not divisible by 3
32  is not divisible by 3
33  is divisble by 3
34  is not divisible by 3
35  is not divisible by 3
36  is divisble by 3
For loop completed successfully

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable objects --  can be defined as objects that do not change their values over time.
                        Ex - Int, float

Mutable objects --  we can change the value of objects. Ex List

In [29]:
# Mutable Objects

l1=list(range(10,20))
l1

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [30]:
# We can see that the above list has all integer datatype.
# Now let me try to change the value 15 to String. 
# the index of 15 is --> 5
l1[5]="Arun"
l1

[10, 11, 12, 13, 14, 'Arun', 16, 17, 18, 19]

In [31]:
# we can see that the l1 list has been modified and a new element is added the place of 15.`

In [32]:
# Immutable Objects Example
str1="Arun Kumar"
str1

# str1 holds the value my name --> "Arun Kumar"
# now if i try to change it, it will throw me an error.

'Arun Kumar'

In [33]:
# let me try to change the value of "K" in kumar to "Z"
str1[5]='Z'

# Throws me an error saying "object does not support item assignment"

TypeError: 'str' object does not support item assignment