### MONGO DB ASSIGNMENT

--------------------------------

#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use mMongoDB over SQL databases?

1. MongoDB is a document-oriented NoSQL database used for high volume data storage.
2. MongoDB makes use of collections and documents.
    1. Documents consist of key-value pairs which are the basic unit of data in MongoDB.
    2. Collections contain sets of documents and function which is the equivalent of relational database tables.

1. A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. 

2. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

3. Non-relational databases are often used when large quantities of complex and diverse data need to be organized. 
    1. For example, a large store might have a database in which each customer has their own document containing all of their information, from          name and address to order history and credit card information.
4. Non-relational databases often perform faster because a query doesn’t have to view several tables in order to deliver an answer, as relational datasets often do. 
    1. Non-relational databases are therefore ideal for storing data that may be changed frequently or for applications that handle many different        kinds of data.

#### Below are the scenarios where we preferr to use mMongoDB over SQL databases.
    1. Non-relational databases are suitable for both operational and transactional data.
    2. They are more suitable for unstructured big data.
    3. Non-relational databases offer higher performance and availability.
    4. Flexible schema help non-relational databases store more data of varied types that can be changed without major schema changes.

-------------------------------

#### Q2. State and Explain the features of MongoDB.

##### 1. Ad-hoc queries for optimized, real-time analytics
    1. When designing the schema of a database, it is impossible to know in advance all the queries that will be performed by end users. An ad hoc query is a short-lived command whose value depends on a variable. Each time an ad hoc query is executed, the result may be different, depending on the variables in question.
    2. Optimizing the way in which ad-hoc queries are handled can make a significant difference at scale, when thousands to millions of variables may need to be considered.

##### 2. Indexing appropriately for better query executions
    1. The number one issue that many technical support teams fail to address with their users is indexing. Done right, indexes are intended to improve search speed and performance. A failure to properly define appropriate indices can and usually will lead to a myriad of accessibility issues, such as problems with query execution and load balancing.

    2. MongoDB indices can be created on demand to accommodate real-time, ever-changing query patterns and application requirements. They can also be declared on any field within any of your documents, including those nested within arrays.

##### 3. Replication for better data availability and stability

    1. When your data only resides in a single database, it is exposed to multiple potential points of failure, such as a server crash, service interruptions, or even good old hardware failure.
    
    2. Replication allows you to sidestep these vulnerabilities by deploying multiple servers for disaster recovery and backup. Horizontal scaling across multiple servers that house the same data (or shards of that same data) means greatly increased data availability and stability. Naturally, replication also helps with load balancing. When multiple users access the same data, the load can be distributed evenly across servers.

##### 4. Sharding
    1. When dealing with particularly large datasets, sharding—the process of splitting larger datasets across multiple distributed collections, or “shards”—helps the database distribute and better execute what might otherwise be problematic and cumbersome queries. Without sharding, scaling a growing web application with millions of daily users is nearly impossible.

##### 5. Load balancing
    1.Optimal load balancing remains one of the holy grails of large-scale database management for growing enterprise applications. Properly distributing millions of client requests to hundreds or thousands of servers can lead to a noticeable (and much appreciated) difference in performance.

    2. Fortunately, via horizontal scaling features like replication and sharding, MongoDB supports large-scale load balancing. The platform can handle multiple concurrent read and write requests for the same data with best-in-class concurrency control and locking protocols that ensure data consistency. There’s no need to add an external load balancer

------------

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
## install the pymongo  library if we do not have it already in my python applicatipn

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 22.7 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 38.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [3]:

import pymongo

## the url is of my Mongo DB
client = pymongo.MongoClient("mongodb+srv://arunkjmpp:arunkjmpp@cluster0.i8h3ju8.mongodb.net/?retryWrites=true&w=majority")

# now creating a Database

db = client['Student_details'] ## Student_details is a new database created

In [4]:
## Lets assume the below is the dataset that needs to be inserted
data = [
{'Name' : 'Arun Kumar J', 'Age' : 32, 'City': 'Bangalore', 'Phone_no' : 8736464644},
{'Name' : 'Virat Kohli', 'Age' : 34, 'City': 'Delhi', 'Phone_no' : 8736464344},
{'Name' : 'Sachin Tendulkar', 'Age' : 50, 'City': 'Mumbai', 'Phone_no' : 8756464644},
{'Name' : 'Messi', 'Age' : 34, 'City': 'Sao Paulo', 'Phone_no' : 8736464643},
{'Name' : 'John', 'Age' : 54, 'City': 'Kolkatta', 'Phone_no' : 8736464642}
]

In [5]:
# inside the DB, we creating collection - Student_Details_2023_Batch
college_stud_det = db["Student_Details_2023_Batch"]

In [6]:
## insert the data into the collection

college_stud_det.insert_many(data)

In [7]:
## now to check if the above data has been insterted or not.
for i in college_stud_det.find():
    print(i)
    
## Each dictionary data is associated with and _id value.
## Each dictinary data set is called Document/Json

{'_id': ObjectId('649cd89c78f32d1cbb95fda9'), 'Name': 'Arun Kumar J', 'Age': 32, 'City': 'Bangalore', 'Phone_no': 8736464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdaa'), 'Name': 'Virat Kohli', 'Age': 34, 'City': 'Delhi', 'Phone_no': 8736464344}
{'_id': ObjectId('649cd89c78f32d1cbb95fdab'), 'Name': 'Sachin Tendulkar', 'Age': 50, 'City': 'Mumbai', 'Phone_no': 8756464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd89c78f32d1cbb95fdad'), 'Name': 'John', 'Age': 54, 'City': 'Kolkatta', 'Phone_no': 8736464642}

------------------------

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [8]:
## Example for insert one record 
## Input is a dictionary
data1 = {'Name' : 'Rohit Sharma', 'Age' : 35, 'City': 'Mumbai', 'Phone_no' : 873646433}

In [9]:
## the below is code to insert one record at a time
college_stud_det.insert_one(data1)

In [10]:
## lets check if the Rohit Sharma row is inserted
for i in college_stud_det.find():
    print(i)

## we can see that the single row has been added at the last

{'_id': ObjectId('649cd89c78f32d1cbb95fda9'), 'Name': 'Arun Kumar J', 'Age': 32, 'City': 'Bangalore', 'Phone_no': 8736464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdaa'), 'Name': 'Virat Kohli', 'Age': 34, 'City': 'Delhi', 'Phone_no': 8736464344}
{'_id': ObjectId('649cd89c78f32d1cbb95fdab'), 'Name': 'Sachin Tendulkar', 'Age': 50, 'City': 'Mumbai', 'Phone_no': 8756464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd89c78f32d1cbb95fdad'), 'Name': 'John', 'Age': 54, 'City': 'Kolkatta', 'Phone_no': 8736464642}
{'_id': ObjectId('649cd8ae78f32d1cbb95fdae'), 'Name': 'Rohit Sharma', 'Age': 35, 'City': 'Mumbai', 'Phone_no': 873646433}

In [11]:
## Example for insert many record 
## input is collection of dictionary, given as a list as input.
data2 = [

{'Name' : 'Ronaldo', 'Age' : 38, 'City': 'Pune', 'Phone_no' : 73645353},
{'Name' : 'Ganguly', 'Age' : 54, 'City': 'Chennai', 'Phone_no' : 8756334644},
{'Name' : 'Micheal', 'Age' : 34, 'City': 'Sao Paulo', 'Phone_no' : 8226464643},
{'Name' : 'Trump', 'Age' : 74, 'City': 'Kolkatta', 'Phone_no' : 8736464642}
]

In [12]:
## the below is code to insert many record at a time
college_stud_det.insert_many(data2)

In [13]:
## confirming if the data above is added to the colletion?
for i in college_stud_det.find():
    print(i)

# we can see its added.

{'_id': ObjectId('649cd89c78f32d1cbb95fda9'), 'Name': 'Arun Kumar J', 'Age': 32, 'City': 'Bangalore', 'Phone_no': 8736464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdaa'), 'Name': 'Virat Kohli', 'Age': 34, 'City': 'Delhi', 'Phone_no': 8736464344}
{'_id': ObjectId('649cd89c78f32d1cbb95fdab'), 'Name': 'Sachin Tendulkar', 'Age': 50, 'City': 'Mumbai', 'Phone_no': 8756464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd89c78f32d1cbb95fdad'), 'Name': 'John', 'Age': 54, 'City': 'Kolkatta', 'Phone_no': 8736464642}
{'_id': ObjectId('649cd8ae78f32d1cbb95fdae'), 'Name': 'Rohit Sharma', 'Age': 35, 'City': 'Mumbai', 'Phone_no': 873646433}
{'_id': ObjectId('649cd90078f32d1cbb95fdaf'), 'Name': 'Ronaldo', 'Age': 38, 'City': 'Pune', 'Phone_no': 73645353}
{'_id': ObjectId('649cd90078f32d1cbb95fdb0'), 'Name': 'Ganguly', 'Age': 54, 'City': 'Chennai', 'Phone_no': 8756334644}
{'_id': ObjectId('649cd90078f32d1cbb95fdb1'), 'Name': 'Micheal', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8226464643}
{'_id': ObjectId('649cd90078f32d1cbb95fdb2'), 'Name': 'Trump', 'Age': 74, 'City': 'Kolkatta', 'Phone_no': 8736464642}

In [14]:
## the below is code to fins one record at a time
## without any input parameters, it just finds the first document in the database.
college_stud_det.find_one()

{'_id': ObjectId('649cd89c78f32d1cbb95fda9'),
 'Name': 'Arun Kumar J',
 'Age': 32,
 'City': 'Bangalore',
 'Phone_no': 8736464644}

In [15]:
## the below is code to fins one record at a time
## we are specifically trying to find key value pair of Name - Arun Kumar J

college_stud_det.find_one({'Name': 'Arun Kumar J'})

{'_id': ObjectId('649cd89c78f32d1cbb95fda9'),
 'Name': 'Arun Kumar J',
 'Age': 32,
 'City': 'Bangalore',
 'Phone_no': 8736464644}

In [16]:
## searching with condition, with the age of 34, i get all the details
for i in college_stud_det.find({'Age': 34}):
    print(i)

{'_id': ObjectId('649cd89c78f32d1cbb95fdaa'), 'Name': 'Virat Kohli', 'Age': 34, 'City': 'Delhi', 'Phone_no': 8736464344}
{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd90078f32d1cbb95fdb1'), 'Name': 'Micheal', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8226464643}

In [17]:
## searching with condition, with the age greater of 34, i get all the details
for i in college_stud_det.find({'Age': { '$gte' : 34}}):
    print(i)

{'_id': ObjectId('649cd89c78f32d1cbb95fdaa'), 'Name': 'Virat Kohli', 'Age': 34, 'City': 'Delhi', 'Phone_no': 8736464344}
{'_id': ObjectId('649cd89c78f32d1cbb95fdab'), 'Name': 'Sachin Tendulkar', 'Age': 50, 'City': 'Mumbai', 'Phone_no': 8756464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd89c78f32d1cbb95fdad'), 'Name': 'John', 'Age': 54, 'City': 'Kolkatta', 'Phone_no': 8736464642}
{'_id': ObjectId('649cd8ae78f32d1cbb95fdae'), 'Name': 'Rohit Sharma', 'Age': 35, 'City': 'Mumbai', 'Phone_no': 873646433}
{'_id': ObjectId('649cd90078f32d1cbb95fdaf'), 'Name': 'Ronaldo', 'Age': 38, 'City': 'Pune', 'Phone_no': 73645353}
{'_id': ObjectId('649cd90078f32d1cbb95fdb0'), 'Name': 'Ganguly', 'Age': 54, 'City': 'Chennai', 'Phone_no': 8756334644}
{'_id': ObjectId('649cd90078f32d1cbb95fdb1'), 'Name': 'Micheal', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8226464643}
{'_id': ObjectId('649cd90078f32d1cbb95fdb2'), 'Name': 'Trump', 'Age': 74, 'City': 'Kolkatta', 'Phone_no': 8736464642}

------------------

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [18]:
## lets consider the above already defined collection.
## The below code displays all the details of the collecton - coll_stud_det
## using for loop to display the dta

for i in college_stud_det.find():
    print(i)

{'_id': ObjectId('649cd89c78f32d1cbb95fda9'), 'Name': 'Arun Kumar J', 'Age': 32, 'City': 'Bangalore', 'Phone_no': 8736464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdaa'), 'Name': 'Virat Kohli', 'Age': 34, 'City': 'Delhi', 'Phone_no': 8736464344}
{'_id': ObjectId('649cd89c78f32d1cbb95fdab'), 'Name': 'Sachin Tendulkar', 'Age': 50, 'City': 'Mumbai', 'Phone_no': 8756464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd89c78f32d1cbb95fdad'), 'Name': 'John', 'Age': 54, 'City': 'Kolkatta', 'Phone_no': 8736464642}
{'_id': ObjectId('649cd8ae78f32d1cbb95fdae'), 'Name': 'Rohit Sharma', 'Age': 35, 'City': 'Mumbai', 'Phone_no': 873646433}
{'_id': ObjectId('649cd90078f32d1cbb95fdaf'), 'Name': 'Ronaldo', 'Age': 38, 'City': 'Pune', 'Phone_no': 73645353}
{'_id': ObjectId('649cd90078f32d1cbb95fdb0'), 'Name': 'Ganguly', 'Age': 54, 'City': 'Chennai', 'Phone_no': 8756334644}
{'_id': ObjectId('649cd90078f32d1cbb95fdb1'), 'Name': 'Micheal', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8226464643}
{'_id': ObjectId('649cd90078f32d1cbb95fdb2'), 'Name': 'Trump', 'Age': 74, 'City': 'Kolkatta', 'Phone_no': 8736464642}

In [19]:
## searching with condition, with the age of 34, i get all the details
for i in college_stud_det.find({'Age': 34}):
    print(i)
# below are the details, whose value is 34 for the key - Age

{'_id': ObjectId('649cd89c78f32d1cbb95fdaa'), 'Name': 'Virat Kohli', 'Age': 34, 'City': 'Delhi', 'Phone_no': 8736464344}
{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd90078f32d1cbb95fdb1'), 'Name': 'Micheal', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8226464643}

In [20]:
## searching with condition, with the age greater of 34, i get all the details
for i in college_stud_det.find({'Age': { '$gte' : 34}}):
    print(i)
# below are the details, whose value is greater than 34 for the key - Age

{'_id': ObjectId('649cd89c78f32d1cbb95fdaa'), 'Name': 'Virat Kohli', 'Age': 34, 'City': 'Delhi', 'Phone_no': 8736464344}
{'_id': ObjectId('649cd89c78f32d1cbb95fdab'), 'Name': 'Sachin Tendulkar', 'Age': 50, 'City': 'Mumbai', 'Phone_no': 8756464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd89c78f32d1cbb95fdad'), 'Name': 'John', 'Age': 54, 'City': 'Kolkatta', 'Phone_no': 8736464642}
{'_id': ObjectId('649cd8ae78f32d1cbb95fdae'), 'Name': 'Rohit Sharma', 'Age': 35, 'City': 'Mumbai', 'Phone_no': 873646433}
{'_id': ObjectId('649cd90078f32d1cbb95fdaf'), 'Name': 'Ronaldo', 'Age': 38, 'City': 'Pune', 'Phone_no': 73645353}
{'_id': ObjectId('649cd90078f32d1cbb95fdb0'), 'Name': 'Ganguly', 'Age': 54, 'City': 'Chennai', 'Phone_no': 8756334644}
{'_id': ObjectId('649cd90078f32d1cbb95fdb1'), 'Name': 'Micheal', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8226464643}
{'_id': ObjectId('649cd90078f32d1cbb95fdb2'), 'Name': 'Trump', 'Age': 74, 'City': 'Kolkatta', 'Phone_no': 8736464642}

In [21]:
## searching with condition, whose value is Bangalore for city
for i in college_stud_det.find({'City': 'Bangalore'}):
    print(i)
# below are the details, whose value is Bangalore for city

{'_id': ObjectId('649cd89c78f32d1cbb95fda9'), 'Name': 'Arun Kumar J', 'Age': 32, 'City': 'Bangalore', 'Phone_no': 8736464644}

---------------

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

1. The sort() method in MongoDB is used to sort documents in a collection. 
2. The method accepts a document containing a list of fields along with their sorting order. 
3. To specify sorting order, 1 is used for ascending order while -1 is used for descending order.

In [43]:
## An example to sort the collection in the increasing order of the Age --> Ascending order is indicated by 1
for i in college_stud_det.find().sort([('Age' ,1)]):
    print(i)

{'_id': ObjectId('649cd89c78f32d1cbb95fda9'), 'Name': 'Arun Kumar J', 'Age': 32, 'City': 'Bangalore', 'Phone_no': 8736464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdaa'), 'Name': 'Virat Kohli', 'Age': 34, 'City': 'Delhi', 'Phone_no': 8736464344}
{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd90078f32d1cbb95fdb1'), 'Name': 'Micheal', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8226464643}
{'_id': ObjectId('649cd8ae78f32d1cbb95fdae'), 'Name': 'Rohit Sharma', 'Age': 35, 'City': 'Mumbai', 'Phone_no': 873646433}
{'_id': ObjectId('649cd90078f32d1cbb95fdaf'), 'Name': 'Ronaldo', 'Age': 38, 'City': 'Pune', 'Phone_no': 73645353}
{'_id': ObjectId('649cd89c78f32d1cbb95fdab'), 'Name': 'Sachin Tendulkar', 'Age': 50, 'City': 'Mumbai', 'Phone_no': 8756464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdad'), 'Name': 'John', 'Age': 54, 'City': 'Kolkatta', 'Phone_no': 8736464642}
{'_id': ObjectId('649cd90078f32d1cbb95fdb0'), 'Name': 'Ganguly', 'Age': 54, 'City': 'Chennai', 'Phone_no': 8756334644}
{'_id': ObjectId('649cd90078f32d1cbb95fdb2'), 'Name': 'Trump', 'Age': 74, 'City': 'Kolkatta', 'Phone_no': 8736464642}

In [44]:
## An example to sort the collection in the decreasing order of the Age --> descending order is indicated by -1
for i in college_stud_det.find().sort([('Age' ,-1)]):
    print(i)

{'_id': ObjectId('649cd90078f32d1cbb95fdb2'), 'Name': 'Trump', 'Age': 74, 'City': 'Kolkatta', 'Phone_no': 8736464642}
{'_id': ObjectId('649cd89c78f32d1cbb95fdad'), 'Name': 'John', 'Age': 54, 'City': 'Kolkatta', 'Phone_no': 8736464642}
{'_id': ObjectId('649cd90078f32d1cbb95fdb0'), 'Name': 'Ganguly', 'Age': 54, 'City': 'Chennai', 'Phone_no': 8756334644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdab'), 'Name': 'Sachin Tendulkar', 'Age': 50, 'City': 'Mumbai', 'Phone_no': 8756464644}
{'_id': ObjectId('649cd90078f32d1cbb95fdaf'), 'Name': 'Ronaldo', 'Age': 38, 'City': 'Pune', 'Phone_no': 73645353}
{'_id': ObjectId('649cd8ae78f32d1cbb95fdae'), 'Name': 'Rohit Sharma', 'Age': 35, 'City': 'Mumbai', 'Phone_no': 873646433}
{'_id': ObjectId('649cd89c78f32d1cbb95fdaa'), 'Name': 'Virat Kohli', 'Age': 34, 'City': 'Delhi', 'Phone_no': 8736464344}
{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd90078f32d1cbb95fdb1'), 'Name': 'Micheal', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8226464643}
{'_id': ObjectId('649cd89c78f32d1cbb95fda9'), 'Name': 'Arun Kumar J', 'Age': 32, 'City': 'Bangalore', 'Phone_no': 8736464644}

In [45]:
## An example to sort the collection in the decreasing order of the Name --> descending order is indicated by -1
for i in college_stud_det.find().sort([('Name' ,-1)]):
    print(i)

{'_id': ObjectId('649cd89c78f32d1cbb95fdaa'), 'Name': 'Virat Kohli', 'Age': 34, 'City': 'Delhi', 'Phone_no': 8736464344}
{'_id': ObjectId('649cd90078f32d1cbb95fdb2'), 'Name': 'Trump', 'Age': 74, 'City': 'Kolkatta', 'Phone_no': 8736464642}
{'_id': ObjectId('649cd89c78f32d1cbb95fdab'), 'Name': 'Sachin Tendulkar', 'Age': 50, 'City': 'Mumbai', 'Phone_no': 8756464644}
{'_id': ObjectId('649cd90078f32d1cbb95fdaf'), 'Name': 'Ronaldo', 'Age': 38, 'City': 'Pune', 'Phone_no': 73645353}
{'_id': ObjectId('649cd8ae78f32d1cbb95fdae'), 'Name': 'Rohit Sharma', 'Age': 35, 'City': 'Mumbai', 'Phone_no': 873646433}
{'_id': ObjectId('649cd90078f32d1cbb95fdb1'), 'Name': 'Micheal', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8226464643}
{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd89c78f32d1cbb95fdad'), 'Name': 'John', 'Age': 54, 'City': 'Kolkatta', 'Phone_no': 8736464642}
{'_id': ObjectId('649cd90078f32d1cbb95fdb0'), 'Name': 'Ganguly', 'Age': 54, 'City': 'Chennai', 'Phone_no': 8756334644}
{'_id': ObjectId('649cd89c78f32d1cbb95fda9'), 'Name': 'Arun Kumar J', 'Age': 32, 'City': 'Bangalore', 'Phone_no': 8736464644}

--------------

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [50]:
count=0
for i in college_stud_det.find():
    count=count+1
print(count)

## the total records in the collection is 29

10

In [51]:
for i in college_stud_det.find({'Name': 'Arun Kumar J'}):
    print(i)
    
## before deleting the "Name' : "Arun Kumar J" we had the below rows.

{'_id': ObjectId('649cd89c78f32d1cbb95fda9'), 'Name': 'Arun Kumar J', 'Age': 32, 'City': 'Bangalore', 'Phone_no': 8736464644}

In [52]:
## Deleting the one row at a time.
## Delete Only One Document that Matches a Condition

college_stud_det.delete_one({'Name': 'Arun Kumar J'})

In [54]:
## Now when we look for the 'Name' : 'Arun Kumar J' --> its not displaying cause it was deleted.
for i in college_stud_det.find({'Name': 'Arun Kumar J'}):
    print(i)

In [57]:
for i in college_stud_det.find({'Age': 34}):
    print(i)
### Before deleting, checking the age = 34 condition, we get the below 3 details/records

{'_id': ObjectId('649cd89c78f32d1cbb95fdaa'), 'Name': 'Virat Kohli', 'Age': 34, 'City': 'Delhi', 'Phone_no': 8736464344}
{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd90078f32d1cbb95fdb1'), 'Name': 'Micheal', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8226464643}

In [59]:
## delete_one() - Deletes only one record, from the the satisfied condition. 
college_stud_det.delete_one({'Age': 34})

In [61]:
## now if u see, we have 2 rows, where as one row was deleted.
for i in college_stud_det.find({'Age': 34}):
    print(i)

{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd90078f32d1cbb95fdb1'), 'Name': 'Micheal', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8226464643}

In [62]:
for i in college_stud_det.find({'Age': 34}):
    print(i)
### Before deleting, checking the age = 34 condition, we get the below 2 details/records

{'_id': ObjectId('649cd89c78f32d1cbb95fdac'), 'Name': 'Messi', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8736464643}
{'_id': ObjectId('649cd90078f32d1cbb95fdb1'), 'Name': 'Micheal', 'Age': 34, 'City': 'Sao Paulo', 'Phone_no': 8226464643}

In [63]:
## delete_many() - Deletes all the  record,s from the the satisfied condition. 
college_stud_det.delete_many({'Age': 34})

In [64]:
## now if u see, we have no rows, cause all the rows that satisfied the condiiton were deleted.
for i in college_stud_det.find({'Age': 34}):
    print(i)

In [66]:
## now we have the below list of details in our collection
for i in college_stud_det.find():
    print(i)

{'_id': ObjectId('649cd89c78f32d1cbb95fdab'), 'Name': 'Sachin Tendulkar', 'Age': 50, 'City': 'Mumbai', 'Phone_no': 8756464644}
{'_id': ObjectId('649cd89c78f32d1cbb95fdad'), 'Name': 'John', 'Age': 54, 'City': 'Kolkatta', 'Phone_no': 8736464642}
{'_id': ObjectId('649cd8ae78f32d1cbb95fdae'), 'Name': 'Rohit Sharma', 'Age': 35, 'City': 'Mumbai', 'Phone_no': 873646433}
{'_id': ObjectId('649cd90078f32d1cbb95fdaf'), 'Name': 'Ronaldo', 'Age': 38, 'City': 'Pune', 'Phone_no': 73645353}
{'_id': ObjectId('649cd90078f32d1cbb95fdb0'), 'Name': 'Ganguly', 'Age': 54, 'City': 'Chennai', 'Phone_no': 8756334644}
{'_id': ObjectId('649cd90078f32d1cbb95fdb2'), 'Name': 'Trump', 'Age': 74, 'City': 'Kolkatta', 'Phone_no': 8736464642}

##### **DROP** --

Removes a collection or view from the database. The method also removes any indexes associated with the dropped collection. The method provides a wrapper around the drop command.

**Returns:**	

    1. true when successfully drops a collection.
    
    2. false when collection to drop does not exist.

In [67]:
college_stud_det.drop()
## the collection is dropped now.

In [68]:
for i in college_stud_det.find({'City': 'Kolkatta'}):
    print(i)

In [69]:
college_stud_det.find_one()

## no data returned, that means the collection has no data now as its dropped.

---------------------