### PANDAS advanced Assignment -1
------

#### Q1. List any five functions of the pandas library with execution.

In [11]:
import pandas as pd

In [12]:
## 1. pd.read_csv('file_name') -- Used to read the data fron csv file
## lets take an example, by importing an cdv file.

df_1 = pd.read_csv('services.csv')

In [13]:
## list down the top 2 rows in the dataFrame
df_1.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

In [14]:
## list down the last 2 rows in the dataFrame
df_1.tail(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [15]:
## fillna function used to fill the NaN values with desired values.

df_1.fillna('Arun',inplace=True)

In [16]:
df_1.head(2)

## if you see now all the Nan Values are replaced by name Arun.

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,Arun,Arun,Arun,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",Arun,...,Arun,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",Arun,Fair Oaks Adult Activity Center,Arun,Colma,active,No wait.,Arun,Arun
1,2,2,Arun,Arun,Arun,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",Arun,...,Arun,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",Arun,Second Career Employment Program,Arun,San Mateo County,active,Varies.,Arun,Arun

In [17]:
## Lists the columns 
df_1.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [18]:
## let me delete all this columns except for column email.
df_1.drop(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website','taxonomy_ids'],axis=1,inplace=True)

In [19]:
df_1.columns
# now if we see that all the columns are deleted except for one - Email.
## drop() takes parameters in the form of LIST [].

Index(['email'], dtype='object')

In [20]:
df_1 = pd.read_csv('services.csv')  ## creating the dataframe again as we have dropped most of the columns

## describe() - This function provides a summary of the statistical distribution of the data in a DataFrame.

df_1.describe()


## it gives the statistical distribution of the Numerical columns of the dataframe.
## like count --> count of each records for that particular column
## mean/min/max --> mean/min/max of each records for that particular column
## 25th,50th and 75th Percentile as well

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [21]:
df_1.dtypes ## to know the datatypes of the column in the dataframe

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [22]:
pd.Categorical(df_1['status'])
## give the categories/unique details in the column - Status

['active', 'active', 'active', 'active', 'active', ..., 'active', 'defunct', 'inactive', 'active', 'active']
Length: 23
Categories (3, object): ['active', 'defunct', 'inactive']

In [23]:
df_1['fees'].unique

# used to get the unique values from the column.

<bound method Series.unique of 0     $2.50 suggested donation for lunch for age 60 ...
1     None. Donations requested of clients who can a...
2                                                 None.
3     Vary according to income ($5-$90). Cash, check...
4         $60 application fee. Cash or checks accepted.
5     $55 per year membership dues. Classes have fee...
6     $85 per day. Vary according to income for thos...
7     Suggested donation of $4.25 per meal for senio...
8                                                 None.
9                                                 None.
10                                                None.
11                                                None.
12                                                None.
13                                                None.
14                                                None.
15    None for emergency services. Vary for after sc...
16                                                None.
17                                                None.
18                                                None.
19                                                  NaN
20                                                  NaN
21    None, except for permits and photocopying. Cas...
22    None, except for permits and photocopying. Cas...
Name: fees, dtype: object>

--------------------

#### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the  DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [24]:
df_2 = pd.DataFrame({ 'A' : [10,20,30,40,50], 'B' : [1,2,3,4,5], 'C' : ['Arun','Kumar','Virat','Kohli','INDIA']})
df_2

## DataFrame with the index starting from 0.

    A  B      C
0  10  1   Arun
1  20  2  Kumar
2  30  3  Virat
3  40  4  Kohli
4  50  5  INDIA

In [25]:
## The below fucntion will re-index the dataframe from 1 and incrementing by 2.
def new_index(df_2):
    df_2.index = list(range(1,len(df_2)*2,2))
    return df_2

if __name__ == "__main__":
    df_2 = pd.DataFrame({ 'A' : [10,20,30,40,50], 'B' : [1,2,3,4,5], 'C' : ['Arun','Kumar','Virat','Kohli','INDIA']})
    df_2 = new_index(df_2)
    print(df_2)

    A  B      C
1  10  1   Arun
3  20  2  Kumar
5  30  3  Virat
7  40  4  Kohli
9  50  5  INDIA

-----------

#### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console. For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [26]:

def sum_of_elements(df_3):
    sum_ = df_3[0:3].sum().values[0]
    return sum_

if __name__ == "__main__":
    df_3 = pd.DataFrame([10, 20, 30, 40, 50])
    sum_ = sum_of_elements(df_3)
    print(sum_)

60

---------------

#### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [27]:
def create_new_column(df_4):
    df_4['Word_Count'] = df_4['Text'].str.len()
    return df_4
    
if __name__ == "__main__":
    df_4 = pd.DataFrame(['Arun Kumar','Virat Kohli','INDIA','RCB'], columns = ['Text'])
    df_4 = create_new_column(df_4)
    print(df_4)

          Text  Word_Count
0   Arun Kumar          10
1  Virat Kohli          11
2        INDIA           5
3          RCB           3

----------------

#### Q5. How are DataFrame.size() and DataFrame.shape() different?

In [28]:
df_4
## in this Dataframe we have 4 columns and 2 rows.

          Text  Word_Count
0   Arun Kumar          10
1  Virat Kohli          11
2        INDIA           5
3          RCB           3

In [29]:
df_4.size

# in this Dataframe we have 4 columns and 2 rows.
# method returns the total number of elements in the DataFrame, including both rows and columns.
# so the output of the df_4.size is 8 cause it has 4 rows and 2 columns.

8

In [30]:
df_4.shape

# in this Dataframe we have 4 columns and 2 rows.
# method returns a tuple of two numbers, representing the number of rows and columns in the DataFrame. 
# so the output of the df_4.shape is (2,4) cause it has 4 rows and 2 columns.

(4, 2)

--------------------

#### Q6. Which function of pandas do we use to read an excel file?

In [31]:
## the pandas.read_excel is the function used to read an excel file in python pandas.

df_6 = pd.read_excel('LUSID Excel - Setting up your market data.xlsx')
df_6.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN

-------------------

#### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.


#### The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [32]:
def create_new_column_username(df_7):
    df_7['UserName'] = df_7['Email'].str.split('@').str[0]
    return df_7
    
if __name__ == "__main__":
    df_7 = pd.DataFrame(['arun@gmail.com','virat@gmail.com','RCB@gmail.com','INDIA@yahoo.com','Sachin.Tendulkar@mi.com','john.doe@example.com'],columns=['Email'])
    df_7 = create_new_column_username(df_7)
    print(df_7)

                     Email          UserName
0           arun@gmail.com              arun
1          virat@gmail.com             virat
2            RCB@gmail.com               RCB
3          INDIA@yahoo.com             INDIA
4  Sachin.Tendulkar@mi.com  Sachin.Tendulkar
5     john.doe@example.com          john.doe

----------------------

#### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values:

|| A| B|C|
|---|---|---|---|
|0| 3| 5| 1|
|1| 8| 2| 7|
|2| 6| 9| 4|
|3| 2| 3| 5|
|4| 9| 1| 2|


Your function should select the following rows:
| |A |B| C|
|---|---|---|---|
|1| 8 |2 |7|
|2|6|9|4|
|4| 9 |1 |2|


The function should return a new DataFrame that contains only the selected rows.

In [33]:
def function_question_8(df_7):
    df_8_new = df_8[(df_8['A']>5) & (df_8['B']<10)]
    return df_8_new
    
if __name__ == "__main__":
    data_8 = { 'A' : [3,8,6,2,9], 'B' : [5,2,9,3,1], 'C' : [1,7,4,5,2] }
    df_8 = pd.DataFrame(data_8)
    df_8_new = function_question_8(df_7)
    print(df_8_new)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

------------------------------

#### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [34]:
def function_question_9(df_9):
    count = df_9['Values'].count()   ## return tsh count of the df_9['Values'] 
    mean = df_9['Values'].mean()  ## return the mean of the df_9['Values']
    std = df_9['Values'].std()    ## return the std of the df_9['Values']
    return count,mean,std
    
if __name__ == "__main__":
    df_9 = pd.DataFrame([10,20,30,40,50,60,70,80,90,100], columns=['Values'])
    print(function_question_9(df_9))

(10, 55.0, 30.276503540974915)

In [35]:
df_9.describe()
## to cross check the values, and can conform the output is right after comparing.

           Values
count   10.000000
mean    55.000000
std     30.276504
min     10.000000
25%     32.500000
50%     55.000000
75%     77.500000
max    100.000000

-----------------------------

#### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [36]:
import random    # module to generate random numbers

def moving_avg_column(df_q10):
    df_q10['MovingAverage'] = round(df_q10['Sales'].rolling(window=7).mean(),0)
    return df_q10
    

if __name__ == "__main__":
    
    ## list of 29 random numbers generated for Sales column.
    sales = [random.randint(100,2000) for i in range(29)] 

    ## list of 20  dates generated for Sales column.
    date = pd.date_range(start='2023-06-01',end='2023-06-29', freq='D')
    
    # creating a datframe using the 2 lists. - Date & Sales
    df_q10 = pd.DataFrame([date,sales],index=['Date','Sales']).T
    
    
    print(moving_avg_column(df_q10))

         Date Sales  MovingAverage
0  2023-06-01  1964            NaN
1  2023-06-02  1636            NaN
2  2023-06-03  1093            NaN
3  2023-06-04  1073            NaN
4  2023-06-05  1673            NaN
5  2023-06-06   253            NaN
6  2023-06-07  1442         1305.0
7  2023-06-08  1366         1219.0
8  2023-06-09   538         1063.0
9  2023-06-10   139          926.0
10 2023-06-11   845          894.0
11 2023-06-12   329          702.0
12 2023-06-13   558          745.0
13 2023-06-14  1151          704.0
14 2023-06-15   247          544.0
15 2023-06-16  1885          736.0
16 2023-06-17   329          763.0
17 2023-06-18   423          703.0
18 2023-06-19  1100          813.0
19 2023-06-20  1163          900.0
20 2023-06-21   374          789.0
21 2023-06-22   673          850.0
22 2023-06-23  1551          802.0
23 2023-06-24  1399          955.0
24 2023-06-25  1644         1129.0
25 2023-06-26  1374         1168.0
26 2023-06-27   391         1058.0
27 2023-06-28   948         1140.0
28 2023-06-29  1780         1298.0

------------

#### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

    Date
    0 2023-01-01
    1 2023-01-02
    2 2023-01-03
    3 2023-01-04
    4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

    0 2023-01-01 Sunday
    1 2023-01-02 Monday
    2 2023-01-03 Tuesday
    3 2023-01-04 Wednesday
    4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [42]:
def week_day_name(df_q11):
    df_q11['WeekDay'] = df_q11['Date'].dt.day_name()
    return df_q11

if __name__ == "__main__":
    
    ## list of 18  dates generated for Date Column.
    date = pd.date_range(start='2023-06-15',end='2023-07-03', freq='D')
    
    # creating a dataframe using the date. - Date & Sales
    df_q11 = pd.DataFrame([date],index=['Date']).T
    
    print(week_day_name(df_q11))

         Date    WeekDay
0  2023-06-15   Thursday
1  2023-06-16     Friday
2  2023-06-17   Saturday
3  2023-06-18     Sunday
4  2023-06-19     Monday
5  2023-06-20    Tuesday
6  2023-06-21  Wednesday
7  2023-06-22   Thursday
8  2023-06-23     Friday
9  2023-06-24   Saturday
10 2023-06-25     Sunday
11 2023-06-26     Monday
12 2023-06-27    Tuesday
13 2023-06-28  Wednesday
14 2023-06-29   Thursday
15 2023-06-30     Friday
16 2023-07-01   Saturday
17 2023-07-02     Sunday
18 2023-07-03     Monday

----------------------------